/*********************************************
:: Print                        
********************************************/
@media print {
  body {
    // color: #424242 !important;
  }

  header, footer {
    display: none !important;
  }

  .main {
    // min-height: unset !important;
    // background: gray !important;
  }

  h1,h2,h3,h4,h5,h6, p {
    font-size: 14px !important;
    color: #424242 !important;
  }
}
  