/*******************************************/

html {
  font-family: $font-family-1;
  color: $color-1;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 15px;

  font-family: $font-family-1;
  font-size: 14px;
  font-weight: $font-bold;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
  color: $color-1;
}

h1, .h1 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 24px;
}

h2, .h2 {
  font-size: 20px;
  line-height: 28px;
}

h3, .h3 {
  font-size: 22px;    
  line-height: 28px;
}

h4, .h4 {
  font-size: 12px;
  line-height: 16px;
}

h5, .h5 {
  font-size: 12px;
  line-height: 24px;
}

h6, .h6 {
  font-size: 12px;
  line-height: 24px;
}

/*******************************************/

p, li, td, th, mark, time, dl, blockquote, address {
  // margin: 0 0 20px;

  font-size: 16px;
  font-weight: $font-normal;
  line-height: 24px;
  color: $color-1;
}

a {
  color: $color-3;
  font-weight: $font-normal;
  text-decoration: none;
  margin: 0px;
  transition: all .5s ease-in-out;

  &:hover, &:focus, &:active{
    color: $color-2;
  }
}

strong, b {
  font-weight: $font-bold;
}

em, i {
  font-style: italic;
}

/*******************************************/